/RabbitMQ/bin
/RabbitMQ/obj
/MyToolset/bin
/MyToolset/obj
/MyMediatR/bin
/MyMediatR/obj
/MyGitInfo/bin
/MyGitInfo/obj
/MassTransitRabbitMq/bin
/MassTransitRabbitMq/obj
/MassTransit31/bin
/MassTransit31/obj
/Logging/bin
/Logging/obj
/InOutRef/bin
/InOutRef/obj
/ExtensionMethods/bin
/ExtensionMethods/obj
/EFcore/bin
/EFcore/obj
/Constructors/bin
/Constructors/obj
/AspNetCore_MediatR/bin
/AspNetCore_MediatR/obj
/.vs
/MyConsul/bin
/MyConsul/obj
