<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoreload="true"
	  throwExceptions="false"
	  internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log"
	  >
	<!-- 
	autoreload - Gets or sets a value indicating whether the configuration files 
	      should be watched for changes and reloaded automatically when changed
	ThrowExceptions - gets or sets a value indicating whether NLog should throw exceptions. 
	      By default exceptions are not thrown under any circumstances.
	internalLogLevel - логи самого NLog, internalLogFile - path до внутреннего лога
		  -->

	<variable name="LogsFile" value="${basedir}/Logs/${shortdate}.log"/>
	<variable name="ErrorLogsFile" value="${basedir}/Logs/${shortdate}-error.log"/>
	<targets>
		<target xsi:type="File" name="main" filename="${LogsFile}"
			layout="${longdate} ${uppercase:${level}} ${appdomain} ${message} ${exception:format=tostring}"
			archiveFileName="${LogsFile}"
			archiveNumbering="Sequence"
			archiveEvery="Day"
			maxArchiveFiles="30"
		/>
		<target xsi:type="File" name="errors" filename="${ErrorLogsFile}"
			layout="${longdate} ${uppercase:${level}} ${appdomain} ${message} ${exception:format=tostring}"
			archiveFileName="${ErrorLogsFile}"
			archiveNumbering="Sequence"
			archiveEvery="Day"
			maxArchiveFiles="30"
		/>
		<target name="logconsole" xsi:type="Console" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="main" />
		<logger name="*" minlevel="Error" writeTo="errors" />
		<logger name="*" minlevel="Trace" writeTo="logconsole" />
	</rules>
</nlog>
		

